* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5e5e5;
}
main {
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.formulario__label {
  display: block; /* es para que abarque el 100% */
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px; /* para centrar el texto */
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
}

.formulario__input:focus {
  border: 3px solid #0075ff;
  outline: none; /* para quitarle un subrrado que le pone el naegador */
  box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0; /* quitar el margen que el parrafo agrega por defecto */
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100; /* para asegurarme de que este por arriba de otros elementos */
  font-size: 16px;
  opacity: 0; /* hacemos invicible al icono x */
}

.formulario__checkbox {
  margin-right: 10px;
}

.formulario__grupo-termino,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
  grid-column: span 2; /* le estamos indicado que va a avarcar 2 columnas del contendor padre y no una que es la mitad */
}

.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background-color: #f66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}
.formulario__mensaje-activo {
  display: block;
}
.formulario__mensaje p {
  margin: 0;
}

.formulario__grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__btn {
  height: 45px;
  line-height: 45px;
  width: 30%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
}
.formulario__btn:hover {
  box-shadow: 3px 0 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito {
  font-size: 14px;
  color: #1ed12d;
  display: none;
}
.formulario__mensaje-exito-activo {
  display: block;
}
/* estilos para validacion -------------------------------- */
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}
.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}
.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}
/* Mediaqueries--------------------------- */
@media screen and (max-width: 768px) {
  .formulario {
    grid-template-columns: 1fr;
  }
  .formulario__grupo-termino,
  .formulario__mensaje,
  .formulario__grupo-btn-enviar {
    grid-column: 1;
  }
  .formulario__btn{
    width: 100%;
  }
}
